 .cell {
 	height: 100px;
 	width: 100px;
 	display: inline-block;
 	border: 2px solid grey;
 	font-size: 40px;
 	vertical-align: top;
 	margin-bottom: 5px;
 	text-align: center;
 	padding-top: 10px;
 	box-sizing: border-box;
 	font-family: 'Arial';
 }
